data/*
projects/*

#Netbeans
/nbproject/
nbproject
.nbproject
.nbproject/*
nbproject/*
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

#vagrant files
vagrant-*
.vagrant/

#PHPStrom
.idea

#NodeJS
provision/ansible/node_modules/
provision/ansible/package-lock.json

#mac
.DS_Store

#ssh-key
provision/ansible/roles/smartscripts/templates/id_rsa
